@import '~normalize.css';
@import '~@nti/style-common/all.scss';

body {margin: 1rem;}
.format-button.active::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 2rem;
	background: rgba(127,127,127,0.2);
	width: 1.5rem;
	height: 1.5rem;
	transform: translate3d(-50%, -50%, 0);
	box-shadow: 0 0 0.2rem 0 rgba(127,127,127, 1);
}

.character-count {
	position: absolute;
	bottom: 0; right: 0;
}

.text-editor {
	position: relative;
	margin-bottom: 3rem;
}
