.mc-video-attachment {
	width: 100%;
	max-width: 500px
}

:global(.mc-attachment-editor-block-context) {
	& .mc-video-attachment {
		width: 100vw;
		max-width: 100%;
		max-width: max(100%, 500px);
	}
}