@import "~nti-style-common";

.body-divider.file {

	.file-icon {
		width: 35px;
		height: 42px;

		display: inline-block;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		padding: 0px;
		margin: 5px 2px;
		border: 1px solid $tertiary-grey;
		box-shadow: 2px 3px 1px 0 rgba(0,0,0,0.13);
		border-radius: 1px;//iOS fix for box-shadow
	}
}
