@import "~nti-style-common";

.body-divider.file {
	display: block;

	.file-icon {
		cursor: pointer;
		padding: 0px;
		margin: 7px 0;
		width: 300px;
		min-width: 115px;
		max-width: 90%;

		position: relative;
		overflow: hidden;

		background-color: #ececec;
		border: 1px solid $tertiary-grey;
		// box-shadow: 2px 3px 1px 0 rgba(0,0,0,0.13);
		border-radius: 1px;//iOS fix for box-shadow

		.icon-container {
			display: block;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			&.image {
				padding-top: 53.3333333%;
			}

			.file-type.icon {
				margin: 0.625rem auto;
				width: 100px;
				height: 125px;
			}
		}


		.meta {
			// position: relative;
			display: block;
			background-color: white;
			padding: .625rem .75rem;
			margin: 0;

			.filename, .size {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.filename {
				color: $primary-grey;
				border-bottom: none;
				font-size: .875rem;
				font-weight: 600;
				line-height: 1.5;
				margin: 0;
				padding: 0;
			}

			.details {
				display: flex;
				align-items: center;
				font-style: normal;
				a {
					display: inline-block;
					flex: 0 0 auto;
					white-space: nowrap;
					cursor: pointer;
					font-size: 0.625rem;

					&, &:active, &:visited, &:hover {
						color: $primary-blue;
					}
				}
			}


			.size {
				flex: 1 1 100%;
				display: inline-block;
				color: $tertiary-grey;
				font-size: .625rem;
				font-weight: 600;
				line-height: 2.4;
				padding: 0;
				margin: 0;
			}
		}

		.no-touch & {
			.meta .details a {
				visibility: hidden;
			}

			&:hover .meta .details a {
				visibility: visible;
			}
		}
	}
}
