@import "~@nti/style-common";
@import "~draft-js/dist/Draft.css";


.nti-rich-text {
	border: 1px solid $border-grey;
	background: #fff;
	position: relative;
	z-index: 0;//counteract draft's styles having a z-index on them

	-webkit-overflow-scrolling: touch;
	overflow: {
		x: hidden;
		y: auto;
	}

	.button, button {
		display: inline-block;
		border: 0;
		margin: 0;
		padding: 0 1.25rem;
		line-height: 2.5rem;
		vertical-align: middle;
	}

	&.busy {
		* {
			opacity: 0;
		}

		&::before {
			content: '';
			position: absolute;
			opacity: 1;
			top: 0; left: 0; right: 0; bottom: 0;
			background: rgba(240, 240, 240, 0.1);
			z-index: 10;
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;

			width: 40px;
			height: 40px;
			margin: -20px 0 0 -20px;
			z-index: 12;
			opacity: 1;

			animation: rotation .9s infinite linear;

			// border: 1px solid rgba(142,183,55,.15);
			// border-top-color: rgba(142,183,55,.8);
			border: 1px solid rgba(63,179,79,.15);
			border-top-color: rgba(63,179,79,.8);
			border-radius:100%;
		}
	}

	&.hide-placeholder {
		.public-DraftEditorPlaceholder-root {
			display: none;
		}
	}


	&.auto-hyphenate {
		.public-DraftStyleDefault-block {
			hyphens: auto;
		}
	}

	.DraftEditor-root {
		color: $primary-grey;
		min-height: 3rem;
		padding: 0.6rem;
		padding-bottom: 2.5rem;//on android, the selection handlebars get in the way of the bottom toolbar.
		line-height: normal;
		white-space: pre-wrap;
		word-wrap: break-word;
		word-break: break-word;
		font: {
			size: 1rem;
			weight: normal;
			style: normal;
		}
		&:focus {
			outline: 1px solid $primary-blue;
			box-shadow: inset 0 0 5px -1px rgba(0,0,0, 0.3);
			background-color: rgba(245,245,245,0.2);
		}

		.DraftEditor-blockquote {
			border-left: 5px solid #eee;
			color: #666;
			font-family: 'Hoefler Text', 'Georgia', serif;
			font-style: italic;
			margin: 16px 0;
			padding: 10px 20px;
		}

		.public-DraftStyleDefault-pre {
			background-color: rgba(0, 0, 0, 0.05);
			font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
			font-size: 16px;
			padding: 20px;
		}

		figure[data-block="true"] {
			margin: 0;
		}

		a.external-link[href] {
			text-decoration: none;
			color: $primary-blue;
		}
	}
}
