@import "~@nti/style-common";

.modeled-content-editor {
	.right-south {
		position: relative;
		float: right;


		button, .button {
			margin: 0;
			padding: 0 1.25rem;
			text-transform: none;

			letter-spacing: normal;
			line-height: 2.4rem;
			height: 2.4rem;
			vertical-align: middle;
			text-align: center;

			&.save {
				font-weight: 600;
				font-size: 0.9rem;
				min-width: 90px;
				background: var(--primary-blue);
				border: 1px solid var(--border-blue);
				color: white;

				html:not(.touch) &:hover {
					opacity: 0.9;
				}

				&.disabled {
					&, &:hover {
						opacity: 0.5;
						background: var(--tertiary-grey);
						border-color: var(--border-grey);
					}
				}
			}

			&.cancel {
				font-weight: 400;
				font-size: 0.75rem;
				text-decoration: underline;
				background: none !important;
				border: 0;
				color: var(--primary-grey);
			}
		}
	}
}
