@import '~@nti/style-common';

.format-button {
	color: var(--tertiary-grey);
	font-weight: bold;
	margin: 0;
	padding: 0;
	border: 0;
	width: 2rem;
	height: 2rem;
	vertical-align: bottom;
	min-width: inherit;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	background: {
		color: inherit;
		repeat: no-repeat;
		position: center center;
	}

	&:hover {
		color: var(--tertiary-grey);
	}

	&:focus,
	&:active,
	&.active,
	.no-touch &:hover {
		color: var(--secondary-grey);
	}

	&.disabled {
		opacity: 0.6;
		cursor: none;
		pointer-events: none;
	}

	i[class^='icon-'],
	i[class*=' icon-'] {
		font-size: 1rem;
	}
}
