@import "~@nti/style-common";

.modeled-content-editor .button.insert-file-attachment {
	input[type=file] {
		position: absolute;
		cursor: pointer;
		right: 0;
		bottom: 0;
		padding: 0;
		margin: 0;
		font-size: 2rem;
		border: 0;
		background-color: red; //for debugging
		opacity: 0;

		& + .button {
			background: url(./assets/file.png) no-repeat center center;
			text-indent: -1000px;
			padding: 0;
			width: 100%;
			display: block;
		}

		&:active, &:focus {
			& + .button {
				background-color: var(--panel-background-alt);
				background-image: url(./assets/file_active.png);
			}
		}
	}
}
