@import "~@nti/style-common";

.modeled-content-editor .toolbar {
	background: $panel-background;
	border: 0 solid var(--border-grey);

	&::after {
		content: '';
		display: table;
		clear: both;
	}

	&.south {
		border-top-width: 1px;
	}

	& > button,
	& > .button {
		font-weight: bold;
		border: 0;
		margin: 0;
		padding: 0;
		width: 1.875rem;
		height: 2.375rem;
		vertical-align: bottom;
		min-width: inherit;
		position: relative;
		overflow: hidden;
		background: {
			color: $panel-background;
			repeat: no-repeat;
			position: center center;
		}

		&:active,
		&:focus {
			outline: none;
			background-color: darken($panel-background, 10%);
		}
	}
}
