@import "~nti-style-common";
@import "~draft-js/dist/Draft.css";

%inline-loader {
	* {
		opacity: 0;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		background: rgba(240, 240, 240, 0.1);
		z-index: 10;
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;

		width: 40px;
		height: 40px;
		margin: -20px 0 0 -20px;
		z-index: 12;

		animation: rotation .9s infinite linear;

		// border: 1px solid rgba(142,183,55,.15);
		// border-top-color: rgba(142,183,55,.8);
		border: 1px solid rgba(63,179,79,.15);
		border-top-color: rgba(63,179,79,.8);
		border-radius:100%;
	}
}


.modeled-content-editor {
	border: 1px solid $border-grey;
	background: #fff;
	position: relative;

	-webkit-overflow-scrolling: touch;
	overflow: {
		x: hidden;
		y: auto;
	}

	&.busy {
		@extend %inline-loader;
	}

	.DraftEditor-root {
		color: $primary-grey;
		min-height: 3rem;
		padding: 0.6rem;
		padding-bottom: 2.5rem;//on android, the selection handlebars get in the way of the bottom toolbar.
		line-height: normal;
		white-space: pre-wrap;
		word-wrap: break-word;
		word-break: break-word;
		font: {
			size: 1rem;
			weight: normal;
			style: normal;
		}
		&:focus {
			outline: 1px solid $primary-blue;
			box-shadow: inset 0 0 5px -1px rgba(0,0,0, 0.3);
			background-color: rgba(245,245,245,0.2);
		}
	}


	.button, button {
		display: inline-block;
		border: 0;
		text-transform: none;
		font-weight: 600;
		font-size: 0.875rem;
		line-height: 2.5rem;
		padding: 0 1.25rem;
		margin: 0;
		vertical-align: middle;
		text-align: center;
		min-width: 90px;

		&.link {
			background: none;
			color: $primary-grey;
			text-decoration: underline;
		}
	}
}
