%icon-file {background-image: url(./assets/file.png);}
%icon-file-active {background-image: url(./assets/file_active.png);}

.modeled-content-editor .button.insert-file-attachment {
	@extend %icon-file;
	text-indent: -1000px;
	&:active, &:focus {
		@extend %icon-file-active;
	}

	input[type=file] {
		position: absolute;
		cursor: pointer;
		right: 0;
		bottom: 0;
		padding: 0;
		margin: 0;
		font-size: 2rem;
		border: 0;
		background-color: red; //for debugging
		opacity: 0;
	}
}
