@import "~@nti/style-common";

.insert-video-dialog {
	.video-embed-input {
		max-width: 23.4375rem;
		width: 100%;
	}
}

.modeled-content-editor .button.insert-video {
	background-image: url(./assets/video.png);
	text-indent: -1000px;
	position: static !important;
	overflow: visible !important;

	&:focus, &:active {
		background-image: url(./assets/video_active.png);
	}

	.dialog {
		text-indent: initial;
		text-align: left;
		position: absolute;
		background: $panel-background;
		z-index: 999;

		top: 0; left: 0; right: 0; bottom: 0;

		// top: 50%;
		// left: 50%;
		// width: 100%;
		// max-width: 75vw;
		// transform: translate(-50%, -50%);

		padding: 1rem;
		// border: 1px solid $border-grey;
		border-radius: 3px;
		// box-shadow: 1px 2px 3px 0 rgba(0,0,0, 0.2);
		font-size: 0.875rem;
		input {
			box-sizing: border-box;
			display: block;
			font-size: 0.875rem;
			font-weight: normal;
			line-height: 1.5;
			margin: 0;
			padding: 0.5rem;
			width: 100%;
			border-style: solid;
			border-width: 1px;
			border-color: $border-grey;

			&:focus {
				outline: none;
				border-color: $primary-blue;
			}
		}

		.buttons {
			text-align: right;
			.button {
				height: auto;
				line-height: normal;
				width: auto;
				min-width: 0;

				appearance: none;
				border-radius: 0;
				border-style: solid;
				border-width: 0;
				cursor: pointer;
				font-weight: normal;
				margin: 0 0 1.25rem;
				position: relative;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				padding: .5625rem 1.25rem .625rem;
				font-size: 0.9rem;
				background-color: $primary-blue;
				border-color: $primary-blue;
				color: #fff;
				transition: background-color 300ms ease-out;

				&.disabled {
					opacity: 0.3;
				}

				&.link {
					background: none;
					color: $primary-grey;
					text-decoration: underline;
				}
			}
		}
	}
}
